
#include "Debug.xcconfig"

CODE_SIGN_IDENTITY[sdk=*]=iPhone Developer
PRODUCT_BUNDLE_IDENTIFIER=com.mastercard.masterpass.tm.enterprise
CHECKOUT_ID=1d45705100044e14b52e71730e71cc5a
ENVIRONMENT_NAME=Stage
MERCHANT_KEY_FILENAME=prdappwebn1-production
MERCHANT_KEY_PWD=password1
MERCHANT_API_HOST=stage.api.mastercard.com/stage1/masterpass

CHECKOUT_HOST=https:/$()/stage.src.mastercard.com/srci //srci host
BUTTON_IMAGE_HOST=https:/$()/src.mastercard.com/assets/img/btn/src_chk_btn_376x088px.svg
