
#include "Common.xcconfig"

CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES
COPY_PHASE_STRIP = YES
COPY_PHASE_STRIP = YES
DEAD_CODE_STRIPPING = YES
EXCLUDED_SOURCE_FILE_NAMES = "*.xcconfig"
GCC_DYNAMIC_NO_PIC = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_TREAT_WARNINGS_AS_ERRORS = YES
LD_NO_PIE = NO
OTHER_CFLAGS[sdk=*] = -fstack-protector -fstack-protector-all
RUN_CLANG_STATIC_ANALYZER = YES
