
#include "Debug.xcconfig"

//Non 3DS Merchant

CODE_SIGN_IDENTITY[sdk=*]=iPhone Developer
PRODUCT_BUNDLE_IDENTIFIER=com.mastercard.masterpass.tm.enterprise
SWITCH_HOST=sandbox.api.mastercard.com
ENVIRONMENT_NAME=Sandbox

//Please set your checkout information
//CHECKOUT_ID=ab230dfe76324d55a04c5955218c5815 //stage ios merchant (not working)
//CHECKOUT_ID=1d45705100044e14b52e71730e71cc5a //stage web merchnat
//CHECKOUT_ID=1bc7bf6f15c94f6b9923960e5bf93727 //stage3 ios merchant
CHECKOUT_ID=6a151ecefd5644dda5529cd9e8ccf1b9 //Sandbox ios merchant
CONSUMER_KEY=6p0QuB-qU7033dnGIuq4UUEJ9Ns2QiwA1Xivy3Sb5354646e!bd8be7099ca64078aa3902a48de4da340000000000000000
MERCHANT_KEY_FILENAME=Sandbox_Merchant_Key
MERCHANT_KEY_PWD=Test@123
APP_LINK=principle
