<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>environmentName</key>
	<string>Production</string>
	<key>merchantUrlScheme</key>
	<string>principle</string>
	<key>API</key>
	<string>/api/java</string>
	<key>runtime</key>
	<string>http://java.mpass.moofwd.com</string>
	<key>checkoutId</key>
	<string>7addb053fbd3420fbdb6404b2f3343b7</string>
</dict>
</plist>
