CODE_SIGN_IDENTITY[sdk=*]=iPhone Developer
// SRC CONFIGURATION
CHECKOUT_HOST=https:/$()/src.mastercard.com/srci
PRODUCT_BUNDLE_IDENTIFIER=com.mastercard.masterpass.tm.enterprise
CHECKOUT_ID=a7887ab9fc7b4e6b96b444621b1e3a28
ENVIRONMENT_NAME=Prod
CONSUMER_KEY=vlg-xtTMeiQfmaFzFx3Ffg9JHc395c0KVRjdfLQs1efc70fb!dba4e21bdb344e88baf54099b67369c20000000000000000
MERCHANT_KEY_FILENAME=prod_fancyshop
MERCHANT_KEY_PWD=prodfancyshop
MERCHANT_API_HOST=api.mastercard.com

// MASTERPASS CONFIGURATION
SWITCH_HOST=api.mastercard.com
MASTERPASS_CHECKOUT_ID=a7887ab9fc7b4e6b96b444621b1e3a28
MASTERPASS_CONSUMER_KEY=vlg-xtTMeiQfmaFzFx3Ffg9JHc395c0KVRjdfLQs1efc70fb!dba4e21bdb344e88baf54099b67369c20000000000000000
MASTERPASS_MERCHANT_KEY_FILENAME=prod_fancyshop
MASTERPASS_MERCHANT_KEY_PWD=prodfancyshop
MASTERPASS_CHECKOUT_HOST=https:/$()/masterpass.com/routing/v2/mobileapi/web-checkout
