PRODUCT_BUNDLE_IDENTIFIER=com.mastercard.commerce.fancyshop
CHECKOUT_ID=976f8a48927d4b65bdfdc167838a68ec
ENVIRONMENT_NAME=Stage
CONSUMER_KEY=glUeBf8D89VCEvjIF5egwDZHlniOd-K3ILtoW4jvda3b3be3!b03759657b194309bfab316e7d442f260000000000000000
MERCHANT_KEY_FILENAME=stage_fancyshop
MERCHANT_KEY_PWD=stagefancyshop
MERCHANT_API_HOST=stage.api.mastercard.com/stage3
