// SRC CONFIGURATION
PRODUCT_BUNDLE_IDENTIFIER=com.mastercard.commerce.fancyshop
CHECKOUT_ID=976f8a48927d4b65bdfdc167838a68ec
ENVIRONMENT_NAME=Stage
CONSUMER_KEY=glUeBf8D89VCEvjIF5egwDZHlniOd-K3ILtoW4jvda3b3be3!b03759657b194309bfab316e7d442f260000000000000000
MERCHANT_KEY_FILENAME=stage_fancyshop
MERCHANT_KEY_PWD=stagefancyshop
MERCHANT_API_HOST=stage.api.mastercard.com/stage3
CHECKOUT_HOST=https:/$()/stage.src.mastercard.com/srci

// MASTERPASS CONFIGURATION
SWITCH_HOST=stage3.api.mastercard.com
MASTERPASS_CHECKOUT_ID=976f8a48927d4b65bdfdc167838a68ec
MASTERPASS_CONSUMER_KEY=glUeBf8D89VCEvjIF5egwDZHlniOd-K3ILtoW4jvda3b3be3!b03759657b194309bfab316e7d442f260000000000000000
MASTERPASS_MERCHANT_KEY_FILENAME=stage_fancyshop
MASTERPASS_MERCHANT_KEY_PWD=stagefancyshop
MASTERPASS_CHECKOUT_HOST=https:/$()/stage3.masterpass.com/routing/v2/mobileapi/web-checkout
