CODE_SIGN_IDENTITY[sdk=*]=iPhone Developer
// SRC CONFIGURATION
CHECKOUT_HOST=api.mastercard.com
PRODUCT_BUNDLE_IDENTIFIER=com.mastercard.masterpass.tm.enterprise
CHECKOUT_ID=4304d441711648c999693cf2243405b2
ENVIRONMENT_NAME=Prod
CONSUMER_KEY=vlg-xtTMeiQfmaFzFx3Ffg9JHc395c0KVRjdfLQs1efc70fb!dba4e21bdb344e88baf54099b67369c20000000000000000
MERCHANT_KEY_FILENAME=prod_fancyshop
MERCHANT_KEY_PWD=prodfancyshop
MERCHANT_API_HOST=api.mastercard.com

// MASTERPASS CONFIGURATION
SWITCH_HOST=api.mastercard.com
MASTERPASS_CHECKOUT_ID=1d45705100044e14b52e71730e71cc5a
MASTERPASS_CONSUMER_KEY=<CONSUMER_KEY>
MASTERPASS_MERCHANT_KEY_FILENAME=<MERCHANT_KEY_FILENAME>
MASTERPASS_MERCHANT_KEY_PWD=<MERCHANT_KEY_PWD>
MASTERPASS_CHECKOUT_HOST=https:/$()/sandbox.masterpass.com/routing/v2/mobileapi/web-checkout
