
#include "Debug.xcconfig"

CODE_SIGN_IDENTITY[sdk=*]=iPhone Developer
//CHECKOUT_HOST=sandbox.src.mastercard.com //src hostt
CHECKOUT_HOST=https:/$()/sandbox.masterpass.com/routing/v2/mobileapi/web-checkout
PRODUCT_BUNDLE_IDENTIFIER=com.mastercard.
//CHECKOUT_ID=e19e5f516e3c45ad991e13c8af924f62 //maybe not a sandbox ios merchant
CHECKOUT_ID=6a151ecefd5644dda5529cd9e8ccf1b9

ENVIRONMENT_NAME=Sandbox
MERCHANT_KEY_FILENAME=prdappwebn1-production
MERCHANT_KEY_PWD=password1
MERCHANT_API_HOST=stage.api.mastercard.com/stage1/masterpass
